{% extends 'base.html.twig' %}

{% block title %}{{ 'labels.edit_comment'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'labels.edit_comment'|trans }}</h1>

    {% if is_granted('ROLE_EDITOR') or is_granted('EDIT', comment) %}
        {{ include('comment/_form.html.twig') }}
    {% endif %}

    {% if is_granted('ROLE_EDITOR') or is_granted('DELETE', comment) %}
        {{ include('comment/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}
