{% extends 'base.html.twig' %}

{% block title %}{{ 'labels.new_comment'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'labels.new_comment'|trans }}</h1>

    {{ include('comment/_form.html.twig') }}
{% endblock %}
