{% extends 'base.html.twig' %}

{% block title %}{{ 'labels.edit_mobile_company'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'labels.edit_mobile_company'|trans }}</h1>

    {% if is_granted('ROLE_EDITOR') or is_granted('EDIT', mobile_company) %}
    {{ include('mobile_company/_form.html.twig') }}
    {% endif %}

    {% if is_granted('ROLE_EDITOR') or is_granted('DELETE', mobile_company) %}
    {{ include('mobile_company/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}
