{% extends 'base.html.twig' %}

{% block title %}{{ 'labels.new_mobile_company'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'labels.new_mobile_company'|trans }}</h1>

    {{ include('mobile_company/_form.html.twig') }}
{% endblock %}
