{% extends 'base.html.twig' %}

{% block title %}{{ 'labels.edit_mobile_phone'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'labels.edit_mobile_phone'|trans }}</h1>
    {% if is_granted('ROLE_EDITOR') or is_granted('EDIT', mobile_phone) %}
        {{ include('mobile_phone/_form.html.twig') }}
    {% endif %}

    {% if is_granted('ROLE_EDITOR') or is_granted('DELETE', mobile_phone) %}
        {{ include('mobile_phone/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}
